/* line 9, ../scss/responsive.scss */
.move-right a.exit-off-canvas {
  -webkit-backface-visibility: hidden;
  transition: background 300ms ease;
  cursor: pointer;
  box-shadow: none;
  display: block;
  position: absolute;
  background: rgba(255, 255, 255, 0.2);
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 1002;
  -webkit-tap-highlight-color: transparent;
  border-left: 1px dashed #cfcfcf;
}

.kodda_responsive {
float: left !important;
}

/* line 26, ../scss/responsive.scss */
.lyricsLink {
  color: #fff;
  position: absolute;
  right: 20px;
  top: 20px;
  z-index: 999999;
  font-family: "Proxima Nova";
  font-size: 15px;
  text-transform: uppercase;
  -webkit-transition: all 500ms ease-in-out;
  -moz-transition: all 500ms ease-in-out;
  -ms-transition: all 500ms ease-in-out;
  -o-transition: all 500ms ease-in-out;
  transition: all 500ms ease-in-out;
}

/* line 38, ../scss/responsive.scss */
.lyricsLink i {
  margin-right: 5px;
}

/* line 42, ../scss/responsive.scss */
.lyricsLink:hover {
  color: #92278f;
}

/* line 46, ../scss/responsive.scss */
.show-for-1010, .show-for-640 {
  display: none !important;
}

/* line 48, ../scss/responsive.scss */
.show-for-768 {
  display: none;
}

/* line 50, ../scss/responsive.scss */
.left-off-canvas-menu {
  bottom: auto;
}

/* line 52, ../scss/responsive.scss */
.show_hidden_menu {
  margin-top: 28px;
  display: inline-block;
  font-size: 22px;
  position: absolute;
  z-index: 99;
  -webkit-transition: all 500ms ease-in-out;
  -moz-transition: all 500ms ease-in-out;
  -ms-transition: all 500ms ease-in-out;
  -o-transition: all 500ms ease-in-out;
  transition: all 500ms ease-in-out;
  left: 25px;
  color: #000;
}

/* line 63, ../scss/responsive.scss */
.show_hidden_menu.mf {
  margin-top: 7px;
}

/* line 67, ../scss/responsive.scss */
.left-off-canvas-menu {
  background: #fff;
}

/* line 71, ../scss/responsive.scss */
.show_hidden_menu:hover {
  color: #e72a30;
}

/* line 76, ../scss/responsive.scss */
.off-canvas-wrap {
  -webkit-backface-visibility: hidden;
  position: relative;
  width: 100%;
  overflow-x: visible;
}


.hide_arrows .bx-wrapper .bx-controls-direction a {
/*top: 157px;*/
top:30px;
}

@media only screen and (max-width: 1390px) {
  /* line 86, ../scss/responsive.scss */
  .thumbSlider #prevthumb {
    left: 20px;
  }

  /* line 90, ../scss/responsive.scss */
  .thumbSlider #nextthumb {
    right: 20px;
  }
}
@media only screen and (max-width: 1255px) {
  /* line 96, ../scss/responsive.scss */
  .thumbSlider #prevthumb {
    left: 15px;
  }

  /* line 100, ../scss/responsive.scss */
  .thumbSlider #nextthumb {
    right: 15px;
  }

  /* line 104, ../scss/responsive.scss */
  .thumbSlider #nextthumb, .thumbSlider #prevthumb {
    top: 15px;
    margin-top: 0;
  }

  .thumbSlider {margin-bottom: -100px;}  

  .thumbSlider #nextthumb, .thumbSlider #prevthumb {
    top: auto;
    margin-top: 0;
    bottom: 80px;
  }  


}
@media only screen and (max-width: 1149px) {
  /* line 112, ../scss/responsive.scss */
  .slideRow .bx-prev {
    left: 0;
  }

  /* line 116, ../scss/responsive.scss */
  .slideRow .bx-next {
    right: 0;
  }
}
@media only screen and (max-width: 1062px) {
  /* line 123, ../scss/responsive.scss */
  .row {
    max-width: 980px;
  }

  /* line 127, ../scss/responsive.scss */
  .shopTabs {
    max-width: 980px;
  }

  /* line 131, ../scss/responsive.scss */
  .sections {
    float: left;
  }

  /* line 135, ../scss/responsive.scss */
  #slidecaption .large-6 {
    padding-left: 15px;
  }
}
@media only screen and (max-width: 1024px) {
  /* line 142, ../scss/responsive.scss */
  .sideContact, .lastSection .add {
    margin-top: 20px;
  }

  /* line 146, ../scss/responsive.scss */
  .lowestRow {
    padding-bottom: 0;
  }

  /* line 150, ../scss/responsive.scss */
  .post_blocks .image {
    margin-right: 10px;
  }

  /* line 154, ../scss/responsive.scss */
  .tags .tagCloudWrap, .latestGalleryWrap {
    padding-right: 0px;
  }

  /* line 158, ../scss/responsive.scss */
  .newsScollers {
    margin-left: 0;
  }

  /* line 162, ../scss/responsive.scss */
  .addLeft .additionalImages, .shop .addLeft .additionalImages {
    max-height: 356px;
    border-top: none;
    border-bottom: none;
  }

  /* line 168, ../scss/responsive.scss */
  .contact .innerContact .related .large-6 {
    padding-right: 8px;
    padding-bottom: 6px;
    min-height: 97px;
  }

  .homeslider .textHold {
    padding-top: 20px;
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 20px;
  }

  .homeslider .textHoldBottom {
  bottom: 15px;
  right: 20px;
  left: 20px;
  }

  .slideRow .row {
    width: 100%;
    max-width: 100%;
  }

  .addLeft {
    margin-bottom: 20px;
  }

  .bx-wrapper img {
  max-width: none;
  width: 100%;
  height: auto;
  display: block;
  }


  .shopTabs a:hover .overHold .title {
  margin-bottom: 55px;
  }  

  .middleColumn .image img {
    width: 100%;
    max-width: none;
  }


  .middleColumn .large-12 .large-6 .image {
  height: 150px;
  }

  .slideNewsItem {
  height: 210px;
  overflow: hidden;    
  }

  .innerSingle {
    max-width: 99%;
  }

  .categories .post_blocks .large-6 .image, .tags .post_blocks .image {
    width: 100%;
  }

  .categories .post_blocks .large-6 .image img, .tags .post_blocks .image img {
    width: 100%;

  }


  .newsScollers {
    margin-left: 0;
    background: #464646;
    float: left;
    }

    .sections .large-7 {
      border-right: none;
    }


  .sideContact {
    margin-left: 0;
  }

  body.woocommerce-page .tags .post_blocks .image {
    width: 100%;
    height: auto;
    overflow-x: hidden;
  }


}



@media only screen and (max-width: 1023px) {
  .hide-for-1023 {    display: none !important;  }

  .show-for-1023 {display: block !important;}

  .phoneAndLogin .login a {border: none;}
  .phoneAndLogin .login a i {padding-left: 0;}

  .linksRow .menu li {width: 25%; min-height: 200px; text-align: center;}

  .linksRow .menu li ul li {min-height: 0;}



}

@media only screen and (max-width: 1010px) {
  /* line 182, ../scss/responsive.scss */
  .row {
    max-width: 98%;
  }

    .slideRow .row {
    width: 100%;
    max-width: 100%;
  }

  /* line 186, ../scss/responsive.scss */
  .shopTabs {
    max-width: 98%;
  }

  /* line 190, ../scss/responsive.scss */
  .hide-for-1010 {
    display: none !important;
  }

  /* line 192, ../scss/responsive.scss */
  .show-for-1010 {
    display: block !important;
  }

  /* line 194, ../scss/responsive.scss */
  .slideRow .bx-prev, .slideRow .bx-next {
    background-color: transparent;
  }

  /* line 198, ../scss/responsive.scss */
  .homeslider img {
    width: 100%;
  }

  /* line 202, ../scss/responsive.scss */
  .newsScollers .addStories {
    padding-top: 7px;
  }

  /* line 206, ../scss/responsive.scss */
  .addLeft .add {
    margin: 0;
    text-align: center;
  }

  /* line 211, ../scss/responsive.scss */
  .add {
    margin-top: 20px;
    text-align: center;
  }

  /* line 216, ../scss/responsive.scss */
  .sideContact {
    margin-top: 20px;
  }

  /* line 220, ../scss/responsive.scss */
  .newsScollers {
    margin-left: 0;
  }

  /* line 224, ../scss/responsive.scss */
  .musicTabs {
    padding-right: 0px;
    margin-left: 0px;
  }

  /* line 229, ../scss/responsive.scss */
  .sections {
    margin-left: 0px;
  }

  /* line 233, ../scss/responsive.scss */
  ul.bx_news li img {
    width: 100%;
  }

  /* line 238, ../scss/responsive.scss */
  .slideRow .bx-prev, .slideRow .bx-next {
    width: 25px !important;
  }

  /* line 243, ../scss/responsive.scss */
  .post_blocks .image {
    float: none;
  }

  /* line 247, ../scss/responsive.scss */
  .lowestRow {
    padding-bottom: 0;
  }

  /* line 251, ../scss/responsive.scss */
  .categories .newsScollers .featuredImage .textHold .date {
    display: none;
  }

  /* line 255, ../scss/responsive.scss */
  .tags .post_blocks .tag {
    right: auto;
    left: 0;
  }

}
@media only screen and (max-width: 768px) {
  /* line 265, ../scss/responsive.scss */

  .single .texty .related {
    padding-left: 25px;
    padding-right: 25px;
  }

  ul.related_post li .wp_rp_thumbnail img {
  border-radius: 0px !important;
  box-shadow: none !important;
  }

  .homeslider .textHold h1 {
    font-size: 20px;
  }

  /* line 269, ../scss/responsive.scss */
  .homeslider .textHoldBottom {
    right: 0;
    left: 5%;
    position: absolute;
    bottom: 10px;
    width: 90%;
  }

  /* line 277, ../scss/responsive.scss */
  .homeslider .textHold, .newsScollers .featuredImage .textHold {
    padding-top: 15px;
    padding-left: 15px;
    padding-right: 15px;
    padding-bottom: 15px;
  }

  /* line 284, ../scss/responsive.scss */
  .homeslider .textHold .moreBottom {
    position: relative;
    right: auto;
  }

  /* line 289, ../scss/responsive.scss */
  .ticker:before {
    content: "";
    width: 55px;
  }

  /* line 294, ../scss/responsive.scss */
  .ticker {
    padding: 0 0 12px 83px;
  }

  /* line 298, ../scss/responsive.scss */
  .newsScollers .scroller ul {
    padding-left: 15px;
  }

  /* line 302, ../scss/responsive.scss */
  .shopTabs .large-3 .overHold .title {
    left: 10px;
    right: 10px;
    bottom: 10px;
  }

  /* line 308, ../scss/responsive.scss */
  .textHoldBottom .large-8 {
    width: 100%;
  }

  /* line 312, ../scss/responsive.scss */
  .categories .addLeft {
    width: 100%;
  }

  /* line 316, ../scss/responsive.scss */
  .categories .categoryMain {
    width: 100%;
  }

  /* line 320, ../scss/responsive.scss */
  .categories .categoryMain .top12 img {
    width: 100%;
  }

  /* line 324, ../scss/responsive.scss */
  .categories .newsScollers .featuredImage {
    margin-top: 20px;
  }

  /* line 328, ../scss/responsive.scss */
  .show-for-768 {
    display: block;
  }

  /* line 330, ../scss/responsive.scss */
  .hide-for-768 {
    display: none;
  }

  /* line 332, ../scss/responsive.scss */
  .categories .custom33, .categories .scroller2 {
    width: 33.3%;
    float: left;
  }

  /* line 337, ../scss/responsive.scss */
  .categories .custom33 .scroller {
    max-height: 583px !important;
  }

  /* line 342, ../scss/responsive.scss */
  .categories .newsScollers .scrollTitle {
    padding-top: 13px;
  }

  /* line 346, ../scss/responsive.scss */
  .latestGalleryWrap {
    padding-right: 0;
  }

  /* line 350, ../scss/responsive.scss */
  .footer .linksRow {
    text-align: center;
  }

  /* line 355, ../scss/responsive.scss */
  .post_blocks .image {
    margin-right: 0;
  }

  /* line 359, ../scss/responsive.scss */
  .tags .post_blocks .tag {
    right: auto;
    left: 0;
  }

  /* line 364, ../scss/responsive.scss */
  .single .innerSingle {
    overflow: visible;
  }

  /* line 368, ../scss/responsive.scss */
  .contact .innerContact .large-8 {
    padding-right: 10px;
  }

  /* line 372, ../scss/responsive.scss */
  .single .texty .singleSlider .innerImage.audio iframe {
    margin-top: 5px;
  }

  /* line 376, ../scss/responsive.scss */
  .quote p {
    font-size: 20px;
    line-height: 30px;
  }



  .middleColumn .large-12 .large-6 .image img {
    width: 100%

  }

  .searchHead input {width: auto;}

  .comments-area {
    padding-right: 25px;
  }

  .hiddenDesc { display: none;  }

  .shopTabs a:hover .overHold .title {margin-bottom: 0;}


.single {background: url(img/top_shadow.png) no-repeat center 220px;}

}
@media only screen and (max-width: 767px) {
  /* line 384, ../scss/responsive.scss */
  .shopTabs .large-3 .overHold .price {
    height: 30px;
    line-height: 30px;
    right: 10px;
  }

  /* line 390, ../scss/responsive.scss */
  .musicTabs .content .scrolly2, .musicTabs .content .scrolly, .addLeft .additionalImages {
    max-height: none !important;
  }

  /* line 394, ../scss/responsive.scss */
  .musicTabs, .musicTabs .background {
    height: auto;
  }

  /* line 399, ../scss/responsive.scss */
  .musicTabs .background {
    min-height: 350px;
  }

  /* line 403, ../scss/responsive.scss */
  .tabs-content {
    margin-bottom: 0;
  }

  /* line 407, ../scss/responsive.scss */
  .shopTabs .large-3 .overHold .title {
    font-size: 16px;
  }

  /* line 411, ../scss/responsive.scss */
  .scroller, .categories .custom33 .scroller {
    max-height: none !important;
  }

  /* line 415, ../scss/responsive.scss */
  .thumbSlider #nextthumb, .thumbSlider #prevthumb {
    display: none;
  }

  /* line 419, ../scss/responsive.scss */
  .footer .bottom {
    height: auto;
    line-height: 18px;
    padding: 20px;
  }

  /* line 425, ../scss/responsive.scss */
  .addLeft .additionalImages .image {
    margin-right: 10px;
  }

  .slideRow {background: url(img/top_shadow.png) no-repeat center 12px;} 

  .homeslider .textHold .moreBottom {display: none;}

  .homeslider .textHoldBottom {bottom: 4px;}

  .newsTicker .side {content: ""; width: 53px; text-indent: 999px;}

  .tickercontainer .mask {left: 80px;}

  .footer .linksRow {display: none;}

  .footer .bottom {font-size: 13px;}

  .footer .socialRow .large-4 {  width: 70%;  padding-left: 15%;  padding-bottom: 20px;  }

  .footer .socialRow .socialIcon {float: right;padding-right: 20px;}

  .lyrics, .lyricsLink, .lyrics_right {display: none;}

  .thumbSlider {  height: 500px;  }

  .thumbSlider #slidecaption .readMore {
  width: 150px;
  height: 40px;
  border: 2px solid #fff;
  line-height: 39px;
  font-size: 14px;
  background: url(img/more_arrow.png) no-repeat 117px center;
  margin-bottom: 171px;
  }

  .thumbSlider #slidecaption .readMore:hover {
    background: url(img/more_arrow_hover.png) no-repeat 117px center;
  }

  .thumbSlider #slidecaption h2 {
    font-size: 25px;
    line-height: 30px;
    margin-bottom: 10px;
  }

.page-template-page-templateshome-04-php .homeslider img {
  height: 300px;
  max-width: none;
  width: auto;
  }

.page-template-page-templateshome-04-php  .homeslider .textHoldBottom {
  bottom: 20px;
  right: 20px;
  left: 20px;
  }

.single .top12 {  padding-bottom: 10px;}

  .comment-list li {
    overflow: hidden;
    padding: 0;
    padding-bottom: 20px;
    }


.comment-list .vcard {float: none;}

.comment-list li:nth-child(odd) {  background: #fff;}

.socialRow .large-4 .socials {position: absolute;}

.socialRow .large-4 .large-9 {padding-left: 54px;}

.footer .socialRow .large-4 {width: 100%;}

.tagsHead, .categoriesHead {  display: none;}

.about {padding-top: 107px;}


.about .aboutRow .brands .large-6 {
padding: 12px 12px 12px 6px !important;
}


.kodda_resp_submenu_posts_content_cat .kodda_resp_posts_cat_container {
padding-left: 0 !important;
}

.kodda_resp_posts_cat_container a {
width: 31% !important;
float: left;
margin: 1%;
position: relative;
}


.kodda_submenu_posts_all_posts a span, .kodda_resp_posts_cat_container a span {
font-size: 14px !important;
font-style: normal;
padding: 0px 0px 0px 0px;
color: #2647b2 !important;
position: absolute;
bottom: 0;
padding: 10px;
font-family: "Proxima Nova" !important;
font-size: 12px;
}


}
@media only screen and (max-width: 640px) {
  /* line 435, ../scss/responsive.scss */


  .show-for-1010 {
    display: none !important;
  }

  /* line 437, ../scss/responsive.scss */
  .logoArea .large-4 {
    text-align: center;
    margin-bottom: 30px;
  }

  /* line 443, ../scss/responsive.scss */
  .homeslider .textHoldBottom {
    bottom: 20px;
    right: 0;
    left: 0;
    position: absolute;
  }

  /* line 450, ../scss/responsive.scss */
  .textHoldBottom .large-8 {
    padding-left: 20px;
    padding-right: 20px;
  }

  /* line 456, ../scss/responsive.scss */
  .homeslider .textHold .moreBottom {
    position: relative;
    padding-right: 20px;
    right: auto;
  }

  /* line 462, ../scss/responsive.scss */
  .socialRow .large-4 {
    margin-bottom: 20px;
  }

  /* line 466, ../scss/responsive.scss */
  .socialRow .large-4 .socials {
    text-align: center;
  }

  /* line 470, ../scss/responsive.scss */
  .sections .large-7 {
    border: none;
  }

  /* line 475, ../scss/responsive.scss */
  .sections h2 {
    padding-left: 35px;
  }

  /* line 479, ../scss/responsive.scss */
  .shopTabs .large-3 img, .commentsTabs .large-3 img {
    width: 100%;
  }

  /* line 484, ../scss/responsive.scss */
  .commentsTabs .large-3 .overHold img {
    width: auto;
  }

  /* line 488, ../scss/responsive.scss */
  .middleColumn .large-12 .large-6 .image .date {
    right: auto;
    left: 14px;
  }

  /* line 495, ../scss/responsive.scss */
  .categories .custom33 {
    width: 50%;
  }

  /* line 499, ../scss/responsive.scss */
  .categories .scroller2 {
    width: 100%;
  }

  /* line 504, ../scss/responsive.scss */
  .middleColumn {
    padding-top: 5px;
  }

  /* line 508, ../scss/responsive.scss */
  .categories .categoryMain .txtHold h1 {
    font-size: 18px;
  }

  /* line 512, ../scss/responsive.scss */
  .categories .categoryMain .txtHold {
    padding-top: 15px;
    padding-left: 15px;
    padding-right: 15px;
    padding-bottom: 15px;
  }

  /* line 519, ../scss/responsive.scss */
  .categories .categoryMain .txtHold .moreBottom {
    position: relative;
    bottom: 0;
    right: 25px;
  }

  /* line 525, ../scss/responsive.scss */
  .categories .categoryMain .txtHold .textHoldBottom {
    bottom: 15px;
  }

  /* line 529, ../scss/responsive.scss */
  .addLeft .additionalImages ul {
    padding-left: 10px;
  }

  /* line 533, ../scss/responsive.scss */
  .single .texty .text {
    padding-right: 25px;
  }

  /* line 537, ../scss/responsive.scss */
  .single .large-12 .large-4 {
    text-align: left;
    margin-top: 11px;
  }

  /* line 542, ../scss/responsive.scss */
  .single .texty .caresare {
    padding-right: 25px;
  }

  /* line 546, ../scss/responsive.scss */
  .single .texty .related {
    padding-right: 20px;
  }

  /* line 550, ../scss/responsive.scss */
  .single .texty .caresare a {
    margin-bottom: 15px;
  }

  /* line 554, ../scss/responsive.scss */
  .single .texty .caresare .inner {
    text-align: center;
  }

  .middleColumn  {border: none;}

  .additionalImages .image, .additionalImages .image img {width: 100%}

  .addLeft .additionalImages ul {
  padding-right: 10px;
  }

  .sideContact {
    margin-left: 0
  }

  table.cart td.actions {
    padding: 0 !important
  }

  table.cart td.actions input {
    width: 100% !important;
    margin-top: 10px !important
  }

  .woocommerce-page table.cart td.actions .coupon {
    margin-top: 10px !important;
    margin-bottom: 0 !important

  }

  .logoArea .large-3 {
    text-align: center;
    margin-bottom: 10px;
  }

  .logoArea {
    padding-top: 0
  }

  .header {
    height: auto;
  }

  .newsTicker .row {
    padding-left: 0;
    padding-right: 0; 
    max-width: 100%;
  }

  .whiteRow {
    padding-left: 0px;
    padding-right: 0px;
    max-width: 100%;
  }

  .slideNewsItem {
    height: auto;
  }

  .small-6 {
    width: 100%;
  }

  .footer .socialRow .large-4 {
    width: 100%;
    padding-left: 0
  }

  .socialRow .large-4 .large-9 {
  padding-left: 154px;
  width: 90%;
  }

  .readMore {
    margin-bottom: 10px;
  }

  .page-template-page-templateshome-04-php .homeslider img {
    height: auto;
  }

  .single .texty .singleSlider .innerImage.video iframe {
    min-height: 0;
height: auto;
  }

  .videoSingle {
min-height: 0;

}

.related ul.related_post li a:nth-child(2) {
padding-left: 10px !important;
height: auto !important;
max-height: none !important;
}

.categories .categoryMain .txtHold .textHoldBottom {
  position: relative;
}

.categories .categoryMain .txtHold .date, .categories .categoryMain .txtHold .newSocials, .categories .categoryMain .txtHold p {
  display: none;
}

.categories .categoryMain .txtHold h1 {
  padding-top: 20px;
}

.bx-wrapper .bx-controls-direction a {
z-index: 99;
}

.cartRow .post_blocks {
  padding: 0;
  margin-left: -10px;
}

}
@media only screen and (max-width: 479px) {
  /* line 562, ../scss/responsive.scss */
  .four-o-four .inner {
    width: 300px;
    height: 300px;
    -moz-border-radius: 150px;
    -webkit-border-radius: 150px;
    border-radius: 150px;
    margin-left: -150px;
    margin-top: -150px;
    font-size: 16px;
    line-height: 26px;
  }

  /* line 574, ../scss/responsive.scss */
  .four-o-four .inner .text {
    width: 280px;
    margin-top: 100px;
  }

  .searchHead input {width: 50px;  }
  .searchHead i {display: none;}

  .middleColumn .large-12 .large-6 .info div.comments {
    display: none;
  }
}
@media only screen and (max-width: 320px) {
  /* line 585, ../scss/responsive.scss */
  .homeslider .textHold .moreBottom, .homeslider .textHold .date, .newsScollers .featuredImage, .linksRow {
    display: none;
  }

  /* line 589, ../scss/responsive.scss */
  .post_x2 .bx_news .date {
    top: 5px;
    left: 5px;
  }

  /* line 594, ../scss/responsive.scss */
  .song .title {
    font-size: 28px;
  }

  /* line 598, ../scss/responsive.scss */
  .socialRow .large-4 {
    width: 100%;
  }

  /* line 602, ../scss/responsive.scss */
  .socialRow .large-4 .socials {
    width: 50px;
  }

  /* line 606, ../scss/responsive.scss */
  .socialRow .large-4 .large-9 {
    width: auto;
    padding-right: 20px;
  }

  /* line 611, ../scss/responsive.scss */
  .footer .socialRow {
    border-bottom: none;
    margin-bottom: 0px;
    padding-bottom: 15px;
  }

  /* line 617, ../scss/responsive.scss */
  .section .small-6, .small-6 {
    width: 100%;
    margin-bottom: 20px;
  }

  /* line 622, ../scss/responsive.scss */
  .small-4 {
    width: 100%;
  }

  /* line 627, ../scss/responsive.scss */
  .lyricsLink {
    color: #fff;
    position: relative;
    float: right;
    padding-bottom: 20px;
  }

  /* line 634, ../scss/responsive.scss */
  .audioplayer-time {
    display: none;
  }

  /* line 639, ../scss/responsive.scss */
  .thumbSlider #slidecaption h2 {
    font-size: 27px;
    line-height: 27px;
  }

  /* line 645, ../scss/responsive.scss */
  .authors .theAlmightyAuthor .inner img {
    float: none;
    margin: 0 auto 10px auto;
    clear: both;
    display: block;
  }

  /* line 652, ../scss/responsive.scss */
  .categories .categoryMain .txtHold .date {
    display: none;
  }

  /* line 656, ../scss/responsive.scss */
  .categories .categoryMain .txtHold p {
    display: none;
  }

  /* line 660, ../scss/responsive.scss */
  .categoriesHead .small-6 {
    width: 50%;
  }
}






