.wp-mr-rating-div-container

{

	background-repeat:repeat-x;

}

.wp-mr-rating-div-container#internal_progress

{

float:left;

}



.wp-mr-rating-anchor-box a

{

	float:left;

	cursor:pointer;

	height:16px;

	width:16px;

	overflow:hidden;

	margin:0px;

	

}

.wp-mr-lock-green

{

	background-image:url(images/lock_green.png);

	cursor:pointer;

	width:16px;

	height:16px;

	margin:0px auto;

	display:block;

}

.wp-mr-lock-red

{

	background-image:url(images/lock_red.png);

	cursor:pointer;

	width:16px;

	height:16px;

	margin:0px auto;

	display:block;

}



.wp-mr-rating-summary

{

float:left;

width:100%;

margin-top:50x;

}

.wp-mr-rating-summary p

{

	margin:0px;

}

span[id^=spanRating]

{

	float:left;

	margin-right:10px;

	padding:5px;

}

span[id^=spanRating] img

{

	width:16px;

	height:16px;

	padding:0px;

	background-color:transparent;

	border:0px;

}

.stary span {
	display: inline-block;
	display: inline-block;
	font-family: FontAwesome;
	font-style: normal;
	font-weight: normal;
	line-height: 1;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;	
	color: #fbcc00;
}

.stary span:after {
	content: "\f006";
	display: inline-block;
	width: 13px;
	height: 14px;
}

.stary:hover span:after {
	content: "\f005";
	display: inline-block;
	width: 13px;
	height: 14px;
}

.wp-mr-rating-anchor-box {
	text-align: right;
}

.review .stars {
text-align: right;
float: right;

right: 0;
z-index: 10
}

.review  li {
	position: relative;
}

.wp-mr-rating-anchor-box a {
height: 18px;
width: 18px;
text-align: center;
}

.review .stars span {
margin-left: 0;
}